body{
    background-color: rgba(243, 235, 235, 0.863);
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 2px 1fr 2px 1fr;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

.grid-item {
    padding: 20px;
    font-size: 24px;
}

p {
    display: flex;
    padding: 0px;
    color: rgba(8, 7, 7, 0.705);
    font-size: 20px;
}

h2 {
    display: flex;
    text-align: left;
}

a {
    display: inline;
    margin-left: 20px;
    color: black;
    background-color: rgb(196, 136, 26);
    width: 70px;
}

hr {
    margin: 0;
}

h3 {
    display: flex;
    justify-content: center;
    text-decoration-line: underline;
}

/* Adicionar espaçamento superior ao segundo bloco (Experience) */
.grid-item:nth-child(2) {
    margin-top: 10px;
}

/* Restante do seu CSS */
