body {
    box-sizing: border-box;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #1B1B1B;
}

a {
    color : rgb(252, 166, 7);
    text-decoration: none;

}

.quadro {
    display: grid;
    gap: 20px;
    grid-template-columns: minmax(350px, 600px) minmax(350px, 600px);
}

a:hover{
    text-decoration: underline;
}

header {
    padding: 20px;
    background-color: #2A2A2A;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}
header a {
    margin-left: 20px;
}

.bloco {
    background-color: #2A2A2A;
    padding: 20px;
}

@media screen and (max-width: 750px) {
    .quadro {
        grid-template-columns: 1fr;
    }
    header {
        grid-column: 1;
        width: 1fr;
    }
}