:root {
    --primary-color: #6F2CF5;
    --background-color: #fff;
    --shadow-color: #1e0744;
    --border-input: #a17de7;
}
.dark-theme {
    --primary-color: #222;
    --background-color: #555;
    --shadow-color: #222222;
    --border-input: #ccc;
}

body{
    background-color: #333;
    background-image: linear-gradient(var(--background-color), #555);
}

label{
    color:white
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    height: auto;
    padding: 20px 0;
    background-color: var(--primary-color);
    box-shadow: 0 0 30px var(--shadow-color);
}

#titulo{
    font-size: 25px;
    text-shadow: 2px 2px 4.5px #000;
    color: rgb(226,241,250);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#nav-pesquisa {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateX(-20%);
    padding-left: 10px;
    padding-bottom: 2.5px;
    border-radius: 10px;
    border: 1px solid var(--border-input);
}
#nav-pesquisa:hover {
    outline: 2px solid rgba(255, 255, 255, 0.87);
}
#lupa{
    height: 20px;
}

input{
    background-color: transparent;
    color: white;
    height: 6vh;
    width: 20vw;
    text-indent: 20px;
    font-size: 15px;
    border: none;
}
input::placeholder{
    color: white;
}
input:focus {
    outline: none;
}

#icon {
    user-select: none;
    font-size: 35px;
    cursor: pointer;
    color: #fff;
}

.card {
    margin: 45px 50px;
    border-radius: 50px;
    box-shadow: 0 0 20px #111;
    border: 40px double #444;
}
.card-body {
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid #333;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #e6e6e6;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}