body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(#fff, #333);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

img {
    width: 300px;
}   