/*Página de Cardápio*/
/*Cardárpio Banner*/
div#cardapiobanner{
    background-image: url(logo-restarunt.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 230px;
    color: #e3e2e0;
    font-family: monospace;
    position: relative;
    text-align: center;
}



#titulo-carda{
    color :black;
    font-size: 20px;
}

div#textocardapiobanner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Título*/
div#titutloalmocooujantar{
    color: #e3e2e0;
    position: relative;
    height: 60px;
}

div#titutloalmocooujantar2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Pratos*/
div#pratodiv{
    color: #353130;
    position: relative;
    margin-top: 15px;
    margin-right: 12px;
    height: 200px;
}

div#pratodiv2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


div#prato1{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 15px;
    margin-left: 12px;
    height: 200px;
}


/**/